.ms-bg-lightblue {
    background-color: #0049ff;
}

.ms-bg-grey {
    background-color: #f4f5f9;
}

.ms-bg-blue {
    background-color: #000e28;
}

.row {
    margin: 0 auto;
}

/* stilizzazione navbar */

header {
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 72px;
    z-index: 999;
}

.logodigital {
    height: 50px;
    width: 230px;
}

.logodigital {
    transform: translateY(-72px);
}

.navbar {
    overflow-y: hidden;
}

.navbar-default .navbar-nav>li>a {
    color: #434d66;
    font-weight: 600;
}

.navbar-default button {
    background-color: white;
    color: #0a68ee;
    border: 1px solid #0a68ee;
    border-radius: 4px;
    padding: 8px 15px 5px;
}

.navbar-default button:hover {
    background-color: #0a68ee;
    color: white;
}

.navbar-default {
    background-color: white;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #0049ff;
}

/* stilizzazione jumbotron */

#jumbotron {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    background-size: cover;
}

#jumbotron .container {
    position: relative;
    padding: 182px 0 80px;
}

#jumbotron .testi {
    position: absolute;
    top: 50%;
    transform: translateY(30%);
}

#jumbotron .testi p {
    color: #b6d2ff;
    font-size: 25px;
}

#jumbotron .testi h1 {
    color: white;
    font-weight: 800;
    font-size: 50px;
}

#jumbotron .jumbotron {
    background-color: white;
    text-align: center;
}

.jumbotron h3 {
    color: #051b4c;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 40px;
}

.jumbotron input {
    border: none;
    font-size: 17px;
    margin-bottom: 20px;
}

.jumbotron {
    padding: 30px 15px 35px;
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
.container .jumbotron {
    padding-left: 30px;
    padding-right: 30px;
    }
}

button.account {
    width: 100%;
    background-color: #0069ff;
    color: white;
    border: none;
    margin-bottom: 15px;
    margin-top: 15px;
}

button.account:hover {
    background-color: #1633ff;
    color: white;
}

.jumbotron p {
    font-size: 16px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.jumbotron span {
    font-size: 12px;
    color: #6b727c;
}

.jumbotron button {
    font-weight: 600;
    font-size: 17px;
    padding: 10px;
}

.jumbotron .icona {
    width: 46%;
    text-align: left;
    background-color: #f1f8ff;
    color: #091b3f;
    margin-bottom: 25px;
}

.jumbotron .icona:hover {
    background-color: #d5e4f7;
}

.jumbotron .barra {
    display: inline-block;
    width: 130px;
    border: 1px solid #e7e8ea;
    transform: translateY(-3px);
}

.jumbotron .sx {
    margin-right: 4%;
}

.jumbotron .icon-dx, .jumbotron .icon-sx {
    margin-right: 40px;
}

.jumbotron .icon-sx {
    color: orange;
}

.jumbotron .icon-dx {
    color: grey;
}

.jumbotron .termini {
    text-decoration: underline;
}

.jumbotron .termini {
    color: #0069ff;
}

.jumbotron .termini:hover {
    color: #0069ff;
}

/* stilizzazione area-brand */

.area-brand {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    padding: 70px 0;
}

.area-brand p {
    color: #959cae;
}

.area-brand img {
    height: 76px;
}


.area-brand .ultimo-brand {
    height: 36px;
    transform: translateY(50%);
}

.area-brand a {
    color: #395ea4;
}

.area-brand p.link {
    margin-top: 30px;
}

.area-brand a:hover {
    color: #395ea4;
    text-decoration: none;
}

/* stilizzazione prima sezione bianca */

.prima-sezione-bianca {
    padding: 100px 0 130px;
}

.prima-sezione-bianca h2 {
    color: #001d53;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px;
}

.prima-sezione-bianca h4 {
    color: #001d53;
    margin-bottom: 15px;
}

.prima-sezione-bianca p {
    color: #838b98;
    margin-bottom: 50px;
    font-size: 16px;
}

.prima-sezione-bianca .sottotitolo {
    font-size: 20px;
}

.prima-sezione-bianca i {
    color: #0868f0;
    font-size: 30px;
}

.prima-sezione-bianca li {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #838b98;
    border-left: 2px solid #e7e8ea;
}

.prima-sezione-bianca li:hover {
    color: #001d53;
}

.prima-sezione-bianca li:first-child {
    color: #001d53;
    border-left: 2px solid #2d63ad;
}
