.ms-bg-lightblue {
    background-color: #0049ff;
}

.ms-bg-grey {
    background-color: #f4f5f9;
}

.ms-bg-blue {
    background-color: #000e28;
}


/* stilizzazione navbar */

.logodigital {
    height: 50px;
    width: 230px;
}

.logodigital {
    transform: translateY(-72px);
}

.navbar {
    overflow-y: hidden;
}

.navbar-default .navbar-nav>li>a {
    color: #434d66;
    font-weight: 600;
}

.navbar-default button {
    background-color: white;
    color: #0a68ee;
    border: 1px solid #0a68ee;
    border-radius: 4px;
    padding: 8px 15px 5px;
}

.navbar-default button:hover {
    background-color: #0a68ee;
    color: white;
}

.navbar-default {
    background-color: white;
    margin-bottom: 0;
}

/* stilizzazione jumbotron */

#jumbotron {
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}


#jumbotron .testi p {
    color: #b6d2ff;

    font-size: 25px;
}

#jumbotron .testi h1 {
    color: white;
    font-weight: 800;
    font-size: 50px;
}

#jumbotron .jumbotron {
    background-color: white;
    text-align: center;
}

.jumbotron h3 {
    color: #051b4c;
}

.jumbotron input {
    border: none;
}
